*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #323232;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header {
  width: 100%;
  height: 10vh;
  color: white;
  background-color: #3f3f3f;
  text-align: center;
}

.CvForm {
  width: clamp(40rem, 50vw, 50rem);
  padding: 1rem;
  border: 1rem double black;
  background-color: white;
}

.Btn {
  width: 100%;
  margin-bottom: 0.5rem;
}

input,
textarea {
  background-color: rgb(230, 230, 230);
  resize: none;
}

/* CvPreview Component */
.CvPage {
  width: clamp(40rem, 50vw, 50rem);
  min-height: 70.5rem;
  background-color: white;
  padding: 1rem;
  border: 1rem double rgb(202, 77, 77);
}

.PageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  border-bottom: 5px solid black;
  background-color: rgb(90, 227, 252);
}

.FullName {
  margin-bottom: 0;
}

.OtherInfo {
  margin-top: 0.83em;
}

.Description h3,
.Education h3,
.Experience h3 {
  text-decoration: underline;
}

.Education h4,
.Experience h4 {
  margin-bottom: 0;
}

/* Personal Details Component */
.PersonalDetails {
  display: flex;
  flex-direction: column;
}

.Name,
.Other,
.Misc {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.Name input,
.Other input,
.Misc input {
  flex-grow: 1;
}

.GroupHeading {
  text-align: center;
}

.PersonalDetails input,
.PersonalDetails textarea {
  margin-bottom: 0.5rem;
}

/* Education Details Component*/
.EducationDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.DateOfStudy {
  display: flex;
  gap: 0.5rem;
}

.DateOfStudy div {
  width: 100%;
}

.DateOfStudy input {
  width: 100%;
}

.EducationDetails input {
  margin-bottom: 0.5rem;
}

/* Experience Details Component */
.ExperienceDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.DateOfWork {
  display: flex;
  gap: 0.5rem;
}

.DateOfWork div {
  width: 100%;
  margin-bottom: 0.5rem;
}

.DateOfWork input {
  width: 100%;
}

.ExperienceDetails input {
  margin-bottom: 0.5rem;
}
