*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
}

.CvForm {
  width: max-content;
}

.Btn {
  width: 100%;
  margin-bottom: 0.5rem;
}

/* Personal Details Component */
.PersonalDetails {
  display: flex;
  flex-direction: column;
}

.Name,
.Other {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.Name input,
.Other input {
  flex-grow: 1;
}

.GroupHeading {
  text-align: center;
}

#description {
  resize: none;
}

.PersonalDetails input,
.PersonalDetails textarea {
  margin-bottom: 0.5rem;
}

/* Education Details Component*/
.EducationDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.DateOfStudy {
  display: flex;
}

.DateOfStudy div {
  width: 100%;
}

.DateOfStudy input {
  width: 100%;
}

.EducationDetails input {
  margin-bottom: 0.5rem;
}

/* Experience Details Component */
.ExperienceDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.DateOfWork {
  display: flex;
}

.DateOfWork div {
  width: 100%;
  margin-bottom: 0.5rem;
}

.DateOfWork input {
  width: 100%;
}

.ExperienceDetails input {
  margin-bottom: 0.5rem;
}

.AddTaskBtn {
  width: 25%;
  margin: auto auto 0.5rem auto;
}

/* Utility Components */
.Task {
  width: 90%;
  margin-right: 0.5rem;
}
